*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(34, 40, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 600px;
    height: 600px;
    background: rgb(83, 221, 134);
    display: flex;
    justify-content: center;
    align-items: center;
}

#figure {
    border: 2px solid #000;
    max-width: 550px;
    max-height: 550px;
    width: 50px;
    height: 50px;
    min-height: 90px;
    min-width: 90px;
}

#up {
    display: flex;
    justify-content: center;
    height: 20%;
}

#center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

#down {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20%;
}

#input_box {
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    color: chartreuse;
}

.firstP,
.secondP {
    display: flex;
}